<p id="notice"><%= notice %></p>

<p>
  <strong>Classid:</strong>
  <%= @person.classId %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @person.sex %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @person.birthday %>
</p>

<p>
  <strong>Leavingdate:</strong>
  <%= @person.leavingDate %>
</p>

<p>
  <strong>Officephone:</strong>
  <%= @person.officePhone %>
</p>

<p>
  <strong>Homephone:</strong>
  <%= @person.homePhone %>
</p>

<p>
  <strong>Graduateschool:</strong>
  <%= @person.graduateSchool %>
</p>

<p>
  <strong>Company:</strong>
  <%= @person.company %>
</p>

<p>
  <strong>Jobtitle:</strong>
  <%= @person.jobTitle %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @person.skill %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= @person.country %>
</p>

<p>
  <strong>Area:</strong>
  <%= @person.area %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @person.permission %>
</p>

<p>
  <strong>Status:</strong>
  <%= @person.status %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
